
.formulario {
    background-color: rgb(218, 207, 232);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    text-align: justify;
    padding: 2%;
}

#title {
    margin-right: 10%;
}

