
.formulario {
    background-color: rgb(218, 207, 232);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-style: solid;
    border-color: rgb(44, 42, 46);
    border-radius: 10px;
    border-width: 5px;
    text-align: justify;
    padding: 2%;
}

#title {
    margin-right: 10%;
}

#forms01 {
    font-weight: bold;
}

